body {
    background: url('../imgs/main-bg.png'); 
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
}

main {
    padding: 1.5vh;
    font-size: 0.9rem;
}

main .details {
    display: flex;
    flex-direction: row;
    position: relative;
}

main .details .truck {
    display: flex;
    flex-direction: column;
    width: 22vw;
    height: 20vw;
    align-items: center;
    justify-content: center;
    margin-right: 5vw;
    background: linear-gradient(352.72deg, #DCE0E8 55.89%, #FFFFFF 91.88%);
    border: 1px solid rgba(237, 239, 243, 0.3);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), inset 0px 4px 4px rgba(255, 255, 255, 0.25);
    border-radius: 6px;
    border-radius: 6px;
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 4%;
    padding-right: 4%;
}

main .details {
    display: flex;
    align-items: center;
    background: linear-gradient(90deg, rgba(233, 236, 242, 0.5) 0%, rgba(255, 255, 255, 0) 100%);
    filter: drop-shadow(0px 4px 24px rgba(67, 70, 84, 0.1));
    border-radius: 8px;
    padding: 2vh;
}

main .details .info {
    color: #0D2750;
}

.info b {
    font-weight: 500;
}

main .details .dots {
    width: 5vw;
    height: 5px;
    position: absolute;
    top: 10%;
    right: 5%;
}

b { font-weight: 400; }

main .details .truck {
    background: linear-gradient(334.79deg, #F7F9FB 32.01%, #E9E9E9 70.45%);
    border: 1px solid rgba(237, 239, 243, 0.3);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), inset 0px 4px 4px rgba(255, 255, 255, 0.25);
    border-radius: 6px;
}

.incident-heading {
    background: linear-gradient(90deg, #0062FF -2.76%, #0059DE 100%);
    border: 1px solid #FFFFFF;
    border-radius: 6px;
    margin-left: 5%;
    margin-right: 5%;
    color: white;
    display: flex;
    flex-direction: row;
    padding-left: 5%;
    padding-top: 5%;
    padding-bottom: 5%;
    position: relative;
    font-size: 1rem !important;
}

.dot {
    background: linear-gradient(181.74deg, #FFFFFF 20.78%, rgba(98, 98, 98, 0) 127.65%);
    box-shadow: inset 0px 2px 4px rgba(0, 0, 0, 0.25);
    filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.25));
    position: absolute;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    right: 0;
    margin-top: 2%;
    margin-right: 3%;
}

.dot-12 {
    width: 12px !important;
    height: 12px !important;
}

.bg-green {
    background: linear-gradient(181.74deg, #75BB0A 20.78%, #6AAD05 127.65%);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25), inset 0px 2px 4px rgba(0, 0, 0, 0.25);
}

.bg-red {
    background: linear-gradient(181.74deg, #F61614 20.78%, #CD060D 127.65%);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25), inset 0px 2px 4px rgba(0, 0, 0, 0.25);
}

.bg-yellow {
    background: linear-gradient(181.74deg, #FEC901 20.78%, #FDB900 127.65%);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25), inset 0px 2px 4px rgba(0, 0, 0, 0.25);
}

.add-incident {
    display: flex;
    justify-content: end;
    margin-top: 3%; 
    margin-left: 5%;
    margin-right: 5%;
}

.add-incident button {
    background: linear-gradient(98.52deg, rgba(13, 39, 80, 0.08) -22.87%, rgba(217, 217, 217, 0) 139.56%);
    border: 1px solid #FFFFFF;
    box-shadow: inset 0px 4px 4px rgba(255, 255, 255, 0.25);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 6px;
    padding-left: 3%;
    padding-right: 3%;
    color: #0D2750;
}

.incident-list {
    margin-top: 3%; 
    margin-left: 5%;
    margin-right: 5%;
    display: flex;
    flex-direction: column;
    font-size: 0.6rem;
}

.incident {
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 2%;
    padding-right: 2%;
    width: 100%;
    box-sizing: border-box;
    background: linear-gradient(98.52deg, rgba(13, 39, 80, 0.08) -22.87%, rgba(217, 217, 217, 0) 139.56%);
    border: 1px solid #FFFFFF;
    box-shadow: inset 0px 4px 4px rgba(255, 255, 255, 0.25);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 6px;
    color: #0D2750;
    gap: 15%;
    margin-bottom: 1%;
}

.incident-list .incident {
    display: flex;
}

.incident-list b {
    font-weight: 600;
}