body {
    background: url('../imgs/main-bg.png'); 
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
}

main {
    padding: 1.5vh;
    font-size: 0.9rem;
}

b { font-weight: 400; }

.clouds {
    display:grid;
    grid-template-columns: 50% 50%;
    grid-row: auto auto;
    grid-column-gap: 3%;
    grid-row-gap: 7%;
}

.clouds-3 {
    display:grid;
    grid-template-columns: 33% 33% 33%;
    grid-row: auto auto;
    grid-column-gap: 2%;
    grid-row-gap: 2%;
    margin-bottom: 3%;
}

.clouds-3 .small {
    font-size: 0.6rem !important;
}

.clouds .item, .clouds-3 .item {
    background: linear-gradient(90.05deg, #DCE0E8 1.38%, #FFFFFF 99.71%);
    border: 1px solid rgba(237, 239, 243, 0.3);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), inset 0px 4px 4px rgba(255, 255, 255, 0.25);
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 4%;
    padding-bottom: 4%;
    width: 100%;
}

.item-nd {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.height-eight { height: 8vh; }

.item-nd .item-nd-child {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(237, 239, 243, 0.3);
    border-radius: 6px;
    box-sizing: border-box;
    font-size: 0.7rem !important;
    width: 100%;
}

.orange-bg { background: linear-gradient(89.12deg, #FEC901 0.76%, #FDB900 99.24%); }

.item-col-3 {
    width: 101%;
    height: 34%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-size: 0.6rem;
}

.item-col-3 span {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    color: #193867;
    border: 1px solid rgba(237, 239, 243, 0.3);
    height: 100%;
}

.bg-green {
    background: linear-gradient(89.22deg, #75BB0A 2%, #6AAD05 99.33%);
    color: white !important;
}

.bg-red {
    background: linear-gradient(89.54deg, #F61614 1.73%, #CD060D 99.59%);
    color: white !important;
}

.bg-orange {
    background: linear-gradient(89.12deg, #FEC901 0.76%, #FDB900 99.24%);
    color: white !important;
}

.bg-standard {
    background: linear-gradient(90.05deg, #E9ECF2 1.38%, #FFFFFF 99.71%);
    border: 1px solid rgba(237, 239, 243, 0.3);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), inset 0px 4px 4px rgba(255, 255, 255, 0.25);
}

.clouds-container {
    margin-top: 3%;
    margin-bottom: 10%;
    margin-left: 6%;
    margin-right: 6%;
}

.clouds-container h3 {
    font-weight: 400;
    font-size: 0.9rem;
    margin-bottom: 2%;
}

.status {
    position: absolute;
    top: 3%;
    right: 3%;
    border-radius: 50%;
    width: 12px;
    height: 12px;
    box-sizing: border-box;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25), inset 0px 2px 4px rgba(0, 0, 0, 0.25) !important;
}

.red { background-color: red; }
.green { background-color: green; }
.orange { background-color: orange; }

.grey { font-size: 0.6rem !important; color: #979797; }

.clouds .item .grey, .clouds-3 .item .grey {
    color: #979797;
}

.extra-bold {
    font-weight: 900;
    color: #0D2750;
    font-size: 1.2rem !important;
}

.submit {
    display: flex;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    padding-left: 5%;
    padding-right: 3%;
}

.submit button {
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 5px;
    padding-right: 5px;
    width: 100%;
    background: linear-gradient(90deg, #0062FF -2.76%, #0059DE 100%);
    border: 1px solid rgba(237, 239, 243, 0.3);
    border-radius: 6px; 
    color: white;
    font-size: 0.9rem;
}

.primary {
    background: #0062FF !important;
    color: white !important;
    font-weight: 300 !important;
}