body {
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
}

.logo {
    margin-bottom: 7%;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.heading {
    font-weight: 400;
    font-style: normal;
    font-size: 1rem;
    color: #0D2750;
    margin-bottom: 2.5vh;
}

.paragraph {
    font-size: 0.8rem;
    line-height: 2vh;
    font-weight: 400;
    width: 70%;
    color: #0D2750;
    margin-bottom: 15%;
}

.input {
    display: flex;
    flex-direction: column;
    width: 80%;
}

.input .input-heading {
    color: #0062FF;
    font-weight: 300;
    font-size: 0.9rem;
    margin-bottom: 10px;
    margin-top: 5px;
}

.logo-background {
    position: absolute;
    width: 90%;
    bottom: 0;
    z-index: -1;
}

.input input {
    border: 0;
    border-bottom: 2px solid;
    border-bottom-color: #0062FF;
    font-size: 0.9rem;
    background-color: transparent;
    width: 100%;
    outline: none;
}

.input input::placeholder {
    color: rgb(212, 212, 212);
}

.forgot-password a {
    color: #0062FF;
    text-decoration: none;
}

.submit button {
    background: linear-gradient(28.93deg, #DCE0E8 30.27%, #FAFBFF 67.8%);
    border: 1px solid rgba(237, 239, 243, 0.3);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), inset 0px 4px 4px rgba(255, 255, 255, 0.25);
    border-radius: 6px;
    padding-top: 0.8vh;
    padding-bottom: 0.5vh;
    padding-left: 7vh;
    padding-right: 7vh;
    text-transform: uppercase;
    color: #0062FF;
    font-size: 0.9rem;
    font-weight: 400;
}

.submit {
    margin-top: 25%;
    margin-bottom: 4.7vh;
}

.info {
    color: #0D2750;
    font-weight: 400;
    font-size: 0.9rem;
}

/* Responsive */

/* Surface Pro 7 */
@media screen and (max-height: 1370px) {
    .container { margin-top: 35%; }
    * { font-size:  2rem ;}
}

/* iPad Air */
@media screen and (max-height: 1180px) {
    .container { margin-top: 25%; }
    * { font-size:  1.5rem ;}
}

/* Samsung Galaxy S20 Ultra */
@media screen and (max-height: 915px) {
    .container { margin-top: 45%; }
    * { font-size:  1rem ;}
}

/* iPhone XR */
@media screen and (max-height: 900px) {
    .container { margin-top: 45%; }
    * { font-size:  1rem ;}
}

/* Samsung Galaxy S8+ */
@media screen and (max-height: 740px) {
    .container { margin-top: 45%; }
    * { font-size:  1rem ;}
}

/* iPhone SE */
@media screen and (max-height: 667px) {
    .container { margin-top: 25%; }
    * { font-size:  1rem ;}
}

/* Surface Duo */
@media screen and (max-height: 720px) {
    .container { margin-top: 25%; }
    * { font-size:  1rem ;}
}