body {
    background: url('../imgs/background.png'); 
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
}

.logo
{
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: url("../imgs/logo.png");
}

.heading {
    position: fixed;
    bottom: 5%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-style: normal;
    font-weight: 400;
    font-size: 1.7vh;
    line-height: 24px;
    display: flex;
    align-items: flex-end;
    text-align: center;
    color: #0D2750;
}