@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: "Roboto", Arial, sans-serif;
}

body {
    width: 100%;
    height: 100%;
    background: url('../imgs/main-bg.png'); 
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.navigation-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.hamburger-menu img {
    width: 25px;
    height: 25px;
}

.bell img {
    width: 20px;
    height: 25px;
}

.bell {
    margin-right: 30px;
}

.user img {
    width: 35px;
    height: 35px;
    border-radius: 50%;
}

main {
    padding: 10px;
    padding-right: 20px;
}

main .details {
    display: flex;
    flex-direction: row;
    position: relative;
}

main .details .truck {
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
}

main .details {
    background: linear-gradient(90deg, rgba(233, 236, 242, 0.5) 0%, rgba(255, 255, 255, 0) 100%);
    filter: drop-shadow(0px 4px 24px rgba(67, 70, 84, 0.1));
    border-radius: 8px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 8px;
    padding-right: 8px;
}

main .details .info {
    color: #0D2750;
}

main .details .truck span {
    margin-top: 3px;
}

main .details .dots {
    width: 21px;
    height: 5px;
    position: absolute;
    top: 0;
    right: 0;
}

main .details .truck {
    background: linear-gradient(334.79deg, #F7F9FB 32.01%, #E9E9E9 70.45%);
    border: 1px solid rgba(237, 239, 243, 0.3);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), inset 0px 4px 4px rgba(255, 255, 255, 0.25);
    border-radius: 6px;
}

.reason-list {
    display: flex;
    flex-direction: column;
}

.reason-list h3 {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: flex-start;
    color: #0D2750;
    font-weight: 400;
    margin-top: 10px;
    margin-bottom: 6px;
    padding-left: 5%;
}

.reason-list .list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 15px;
    padding-right: 10px;
}

.reason-list .list span {
    color: #0D2750;
    margin-top: 3%;
    background: linear-gradient(90.05deg, #DCE0E8 1.38%, #FFFFFF 99.71%);
    border: 1px solid rgba(237, 239, 243, 0.3);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), inset 0px 4px 4px rgba(255, 255, 255, 0.25);
    border-radius: 6px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 20px;
    width: 100%;
}

.inspection-submit {
    margin-top: 10%;
    display: flex;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.inspection-submit button {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 6px;
    padding-right: 6px;
    width: 100%;
    background: linear-gradient(90deg, #0062FF -2.76%, #0059DE 100%);
    border: 1px solid rgba(237, 239, 243, 0.3);
    border-radius: 6px; 
    color: white;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 16px;
}

.primary {
    background: #0062FF !important;
    color: white !important;
}

section {
    margin-top: 30%;
    display: grid;
    grid-template-columns: 48% 48%;
    grid-row: auto auto;
    grid-column-gap: 30px;
    grid-row-gap: 30px;
}

section .button-group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(334.79deg, #F7F9FB 32.01%, #E9E9E9 70.45%);
    border: 1px solid rgba(237, 239, 243, 0.3);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), inset 0px 4px 4px rgba(255, 255, 255, 0.25);
    border-radius: 6px;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 35px;
    padding-right: 35px;
    position: relative;
}

section .button-group img {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
}

section .button-group span {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    font-size: 15px;
    color: #0D2750;
    font-weight: 400;
    width: 100%;
}

section .button-group .dot {
    position: absolute;
    top: 5px;
    right: 5px;
    background: linear-gradient(181.74deg, #FFFFFF 20.78%, rgba(98, 98, 98, 0) 127.65%);
    box-shadow: inset 0px 2px 4px rgba(0, 0, 0, 0.25);
    filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.25));
    width: 16px;
    height: 16px;
    border-radius: 50%;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.1) 23.08%, rgba(255, 255, 255, 0.1) 77.44%);
    border: 1px solid #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), inset 0px 4px 4px rgba(255, 255, 255, 0.25);
    border-radius: 6px;
    height: 70px;
}

footer .bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

footer .bar .item img {
    width: 27px;
    height: 27px;
}

footer .bar .item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

footer .bar .item .active {
    color: #0062FF;
}

footer .bar .item img {
    width: 29px;
    height: 29px;
}

footer .bar .item span {
    color: #0D2750;
    font-size: 14px;
}