body {
    background: url('../imgs/main-bg.png'); 
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
}

main {
    padding: 1.5vh;
    font-size: 0.9rem;
}

main .details {
    display: flex;
    flex-direction: row;
    position: relative;
}

main .details .truck {
    display: flex;
    flex-direction: column;
    width: 22vw;
    height: 20vw;
    align-items: center;
    justify-content: center;
    margin-right: 5vw;
}

main .details {
    background: linear-gradient(90deg, rgba(233, 236, 242, 0.5) 0%, rgba(255, 255, 255, 0) 100%);
    filter: drop-shadow(0px 4px 24px rgba(67, 70, 84, 0.1));
    border-radius: 8px;
    padding: 2vh;
}

main .details .info {
    color: #0D2750;
}

main .details .dots {
    width: 5vw;
    height: 5px;
    position: absolute;
    top: 10%;
    right: 5%;
}

b { font-weight: 400; }

main .details .truck {
    background: linear-gradient(334.79deg, #F7F9FB 32.01%, #E9E9E9 70.45%);
    border: 1px solid rgba(237, 239, 243, 0.3);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), inset 0px 4px 4px rgba(255, 255, 255, 0.25);
    border-radius: 6px;
}

.reason-list {
    display: flex;
    flex-direction: column;
    margin-left: 10vw;
    margin-right: 10vw;
}

.reason-list h3 {
    font-size: 0.9rem;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: flex-start;
    color: #0D2750;
    font-weight: 400;
    margin-top: 2vh;
    margin-bottom: 1vh;
    margin-left: -5vw;
}

.reason-list .list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.reason-list .list span {
    font-weight: 400;
    color: #0D2750;
    margin-bottom: 3%;
    background: linear-gradient(90.05deg, #DCE0E8 1.38%, #FFFFFF 99.71%);
    border: 1px solid rgba(237, 239, 243, 0.3);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), inset 0px 4px 4px rgba(255, 255, 255, 0.25);
    border-radius: 6px;
    padding-top: 1.5vh;
    padding-bottom: 1.5vh;
    padding-left: 7vw;
    padding-right: 7vw;
    width: 100%;
}

.inspection-submit {
    margin-top: 10%;
    display: flex;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.inspection-submit button {
    padding-top: 1.5vh;
    padding-bottom: 1.5vh;
    padding-left: 9px;
    padding-right: 9px;
    width: 100%;
    background: linear-gradient(90deg, #0062FF -2.76%, #0059DE 100%);
    border: 1px solid rgba(237, 239, 243, 0.3);
    border-radius: 6px; 
    color: white;
    font-size: 1rem;
}

.primary {
    background: #0062FF !important;
    color: white !important;
    font-weight: 300 !important;
}