body {
    background: url('../imgs/background.png'); 
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
}

.logo {
    margin-bottom: 5%;
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.heading {
    margin-top: 30%;
    font-weight: 400;
    font-style: normal;
    font-size: 1rem;
    color: #0D2750;
    margin-bottom: 20%;
}

.input {
    display: flex;
    flex-direction: column;
    width: 80%;
}

.input .input-heading {
    color: #0062FF;
    font-weight: 350;
    font-size: 0.9rem;
    margin-bottom: 3%;
    margin-top: 3%;
}

.input-bellow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1%;
    width: 80%;
    font-size: 0.9rem;
}

.remember-me {
    display: flex;
    align-items: center;
}

.remember-me label {
    color: #0D2750;
    font-weight: 400 !important;
}

.remember-me input { margin-right: 1vh; }

.input input {
    border: 0;
    border-bottom: 2px solid;
    border-bottom-color: #0062FF;
    font-size: 0.9rem;
    background-color: transparent;
    width: 100%;
    outline: none;
}

.input input::placeholder {
    color: rgb(212, 212, 212);
}

.forgot-password a {
    color: #0062FF;
    text-decoration: none;
}

.login-submit button {
    background: linear-gradient(28.93deg, #DCE0E8 30.27%, #FAFBFF 67.8%);
    border: 1px solid rgba(237, 239, 243, 0.3);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), inset 0px 4px 4px rgba(255, 255, 255, 0.25);
    border-radius: 6px;
    padding-top: 3%;
    padding-bottom: 3%;
    padding-left: 12vw;
    padding-right: 12vw;
    text-transform: uppercase;
    color: #0062FF;
    font-size: 2vh;
    font-weight: 300;
}

.login-submit {
    margin-top: 15%;
    margin-bottom: 10%;
}

.info {
    color: #0D2750;
    font-weight: 400;
    font-size: 0.9rem;
}