body {
    background: url('../imgs/main-bg.png'); 
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
}

main {
    padding-top: 5%;
    padding-left: 3%;
    padding-right: 3%;
    padding-bottom: 5%;
}

.welcome-text {
    color: #0D2750;
    font-size: 2.5vh;
    font-weight: 400;
}

.panel {
    display: flex;
    justify-content: center;
    align-items: center;
}

section {
    margin-top: 30%;
    display: grid;
    grid-template-columns: 45% 45%;
    grid-template-rows: 60% 60%;
    grid-row: auto auto;
    grid-column-gap: 10%;
    grid-row-gap: 10%;
    justify-content: center;
    align-content: center;
}

section .button-group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(334.79deg, #F7F9FB 32.01%, #E9E9E9 70.45%);
    border: 1px solid rgba(237, 239, 243, 0.3);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), inset 0px 4px 4px rgba(255, 255, 255, 0.25);
    border-radius: 6px;
    padding-top: 8%;
    padding-bottom: 8%;
    padding-left: 10vw;
    padding-right: 10vw;
    position: relative;
}

section .button-group img {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 15vw;
    height: 9vh;
}

section .button-group span {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
    font-size: 2.2vh;
    color: #0D2750;
    font-weight: 400;
    width: 100%;
}

section .button-group .dot {
    position: absolute;
    top: 5%;
    right: 5%;
    background: linear-gradient(181.74deg, #FFFFFF 20.78%, rgba(98, 98, 98, 0) 127.65%);
    box-shadow: inset 0px 2px 4px rgba(0, 0, 0, 0.25);
    filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.25));
    width: 3.2vw;
    height: 2vh;
    border-radius: 50%;
}