body {
    background: url('../imgs/main-bg.png'); 
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
}

main {
    padding-top: 2vh;
    padding-left: 2vh;
    padding-right: 2vh;
}

main .list {
    display: flex;
    flex-direction: column;
    background: linear-gradient(180deg, rgba(237, 239, 243, 0.8) 0%, rgba(255, 255, 255, 0) 100%);
    filter: drop-shadow(0px 4px 24px rgba(67, 70, 84, 0.1));
    border-radius: 8px;
    padding-top: 3vh;
    padding-bottom: 3vh;
    padding-left: 6vw;
    padding-right: 6vw;
}

main .action {
    background: linear-gradient(180deg, rgba(237, 239, 243, 0.5) 0%, rgba(255, 255, 255, 0) 100%);
    filter: drop-shadow(0px 4px 24px rgba(67, 70, 84, 0.1));
    border-radius: 7px;
    padding-left: 7%;
    padding-right: 7%;
    padding-top: 4%;
    padding-bottom: 4%;
}

main .action button {
    background: linear-gradient(90deg, #DCE0E8 -2.76%, #FFFFFF 100%);
    border: 1px solid rgba(237, 239, 243, 0.3);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 6px;
    font-size: 0.8rem;
    font-weight: 500;
    color: #0D2750;
    width: 100%;
    padding-top: 5%;
    padding-bottom: 5%;
}

main .action button:active {
    background: linear-gradient(90deg, #0062FF -2.76%, #0059DE 100%);
    color: white;
    font-weight: 300;
}

main .list .item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(89.13deg, #DCE0E8 0.75%, #FFFFFF 99.25%);
    border: 1px solid rgba(237, 239, 243, 0.3);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), inset 0px 4px 4px rgba(255, 255, 255, 0.25);
    border-radius: 6px;
    padding-left: 3vw;
    padding-right: 2vw;
    padding-top: 2.5vh;
    padding-bottom: 2.5vh;
    color: #0D2750;
    margin-bottom: 2vh;
    font-size: 0.9em;
}

main .list .item .status {
    width: 14px;
    height: 14px;
    border-radius: 50%;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25), inset 0px 2px 4px rgba(0, 0, 0, 0.25);
}

.primary {
    background: linear-gradient(90deg, #0062FF -2.76%, #0059DE 100%) !important;
    color: white !important;
}

.item .green {
    background: linear-gradient(181.74deg, #43B015 20.78%, rgba(70, 210, 79, 0.25) 127.65%);
}

.item .orange {
    background: linear-gradient(181.74deg, #F07922 20.78%, #FFEB70 127.65%);
}

.item .red {
    background: linear-gradient(181.74deg, #F61614 20.78%, #CD060D 127.65%);
}

.item .grey {
    background: linear-gradient(181.74deg, #FFFFFF 20.78%, rgba(98, 98, 98, 0) 127.65%);
}

/* Responisve */

/* Galaxy S8 */
@media screen and (max-height: 896px) {
    main .list .item {
        padding-left: 3vw;
        padding-right: 2vw;
        padding-top: 1.7vh;
        padding-bottom: 1.7vh;
    }
}