body {
    background: url('../imgs/main-bg.png'); 
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
}

main {
    padding: 10px;
    padding-right: 20px;
}

main .list {
    display: flex;
    flex-direction: column;
    background: linear-gradient(180deg, rgba(237, 239, 243, 0.8) 0%, rgba(255, 255, 255, 0) 100%);
    filter: drop-shadow(0px 4px 24px rgba(67, 70, 84, 0.1));
    border-radius: 8px;
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 4%;
    padding-right: 3%;
}

main .list .item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(89.13deg, #DCE0E8 0.75%, #FFFFFF 99.25%);
    border: 1px solid rgba(237, 239, 243, 0.3);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), inset 0px 4px 4px rgba(255, 255, 255, 0.25);
    border-radius: 6px;
    padding-left: 7px;
    padding-right: 7px;
    padding-top: 12px;
    padding-bottom: 12px;
    color: #0D2750;
    margin-bottom: 5%;
}

main .list .item .status {
    width: 14px;
    height: 14px;
    border-radius: 50%;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25), inset 0px 2px 4px rgba(0, 0, 0, 0.25);
}

.primary {
    background: linear-gradient(90deg, #0062FF -2.76%, #0059DE 100%) !important;
    color: white !important;
}

.item .green {
    background: linear-gradient(181.74deg, #43B015 20.78%, rgba(70, 210, 79, 0.25) 127.65%);
}

.item .orange {
    background: linear-gradient(181.74deg, #F07922 20.78%, #FFEB70 127.65%);
}

.item .red {
    background: linear-gradient(181.74deg, #F61614 20.78%, #CD060D 127.65%);
}