body {
    background: url('../imgs/main-bg.png'); 
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
}

main {
    padding: 10px;
    padding-right: 20px;
}

.truck-trailer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background: linear-gradient(89.57deg, rgba(237, 239, 243, 0.3) 0.39%, rgba(255, 255, 255, 0.3) 99.67%);
    box-shadow: 0px 4px 24px rgba(67, 70, 84, 0.1);
    border-radius: 8px;
    padding-top: 24px;
    padding-bottom: 24px;
}

.truck-trailer .active {
    background: #0061FB !important;
    color: white !important;
}

.truck-trailer .item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(20.81deg, #DCE0E8 36.23%, #E9E9E9 63.77%);
    border: 1px solid rgba(237, 239, 243, 0.3);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), inset 0px 4px 4px rgba(255, 255, 255, 0.25);
    border-radius: 6px;
    width: 80px;
    height: 80px;
    color: #0D2750;
    padding: 20px;
}

.inspection-types {
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    background: linear-gradient(90deg, rgba(237, 239, 243, 0.8) 0%, rgba(255, 255, 255, 0) 100%);
    filter: drop-shadow(0px 4px 24px rgba(67, 70, 84, 0.1));
    border-radius: 8px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 10px;
    padding-left: 10px
}

.inspection-types .item {
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(91.69deg, #DCE0E8 1.53%, #FFFFFF 98.65%);
    border: 1px solid rgba(237, 239, 243, 0.3);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), inset 0px 4px 4px rgba(255, 255, 255, 0.25);
    border-radius: 6px;
    color: #0D2750;
    padding-top: 14px;
    padding-bottom: 14px;
    margin-bottom: 12px;
}

.truck-number {
    background: linear-gradient(90deg, rgba(237, 239, 254, 0.8) 0%, rgba(255, 255, 255, 0) 97.13%);
    filter: drop-shadow(0px 4px 24px rgba(67, 70, 84, 0.1));
    border-radius: 8px;
    padding: 18px;
    color: #0D2750;
}

.truck-number .item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(98.52deg, rgba(13, 39, 80, 0.08) -22.87%, rgba(217, 217, 217, 0) 139.56%);
    border: 1px solid rgba(237, 239, 243, 0.3);
    box-shadow: inset 0px 4px 4px rgba(255, 255, 255, 0.25);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 6px;
    padding-left: 18px;
    padding-right: 18px;
    padding-top: 14px;
    padding-bottom: 14px;
    border-radius: 6px;
}

.start-inspection {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
    background: linear-gradient(90deg, rgba(237, 239, 243, 0.8) 0%, rgba(255, 255, 255, 0) 100%);
    filter: drop-shadow(0px 4px 24px rgba(67, 70, 84, 0.1));
    border-radius: 8px;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 12px;
    padding-bottom: 12px;
}

.start-inspection button{
    background: linear-gradient(90deg, #0062FF -2.76%, #0059DE 100%);
    border: 1px solid rgba(237, 239, 243, 0.3);
    border-radius: 6px;
    color: white;
    padding-top: 17px;
    padding-bottom: 17px;
    width: 100%;
    font-size: 16px !important;
}

.truck-number .item input {
    width: 40%;
    background: #FFFFFF;
    border: 1px solid rgba(237, 239, 243, 0.3);
    border-radius: 6px;
    outline: none;
    padding-left: 6px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-right: 6px;
    font-size: 18px !important;
}

.inspection-types .active {
    background: linear-gradient(90deg, #0062FF -2.76%, #0059DE 100%);
    color: white;
}

.truck-number .item {
    font-size: 18px !important;
}

.truck-size { width: 77px; height: 77px; }
.trailer-size { width: 106px; height: 57px; margin-bottom: 12px; }