body {
    background: url('../imgs/main-bg.png'); 
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
}

main {
    padding-top: 2vh;
    padding-left: 2vh;
    padding-right: 2vh;
}

.tires-panel {
    background: linear-gradient(180deg, rgba(237, 239, 243, 0.8) 0%, rgba(255, 255, 255, 0) 100%);
    filter: drop-shadow(0px 4px 24px rgba(67, 70, 84, 0.1));
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    color: #0D2750;
    padding-top: 4vh;
    padding-bottom: 4vh;
    padding-left: 5vw;
    padding-right: 5vw;
}

.tires-panel .tires-top {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 15%;
}

.tires-panel .tires-top .tire {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: linear-gradient(89.13deg, #DCE0E8 0.75%, #FFFFFF 99.25%);
    border: 1px solid rgba(237, 239, 243, 0.3);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), inset 0px 4px 4px rgba(255, 255, 255, 0.25);
    border-radius: 6px;
    width: 14vw;
    height: 11vh;
}

.tires-panel .tires-top .line {
    background: linear-gradient(89.13deg, #DCE0E8 0.75%, #FFFFFF 99.25%);
    border: 1px solid rgba(237, 239, 243, 0.3);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), inset 0px 4px 4px rgba(255, 255, 255, 0.25);
    border-radius: 6px;
    height: 5px;
    flex: 1;
    margin-left: 4vw;
    margin-right: 4vw;
}

.tires-panel .tires-middle {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.mr-10 { margin-right: 10px; }

.tires-panel .tires-middle .tire {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: linear-gradient(89.13deg, #DCE0E8 0.75%, #FFFFFF 99.25%);
    border: 1px solid rgba(237, 239, 243, 0.3);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), inset 0px 4px 4px rgba(255, 255, 255, 0.25);
    border-radius: 6px;
    width: 14vw;
    height: 11vh;
    position: relative;
}

.tire {
    position: relative;
}

.tire .top {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 0; 
    width: 100%;
    color: white;
    font-size: 0.8rem;
}

.tire .bottom {
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 0; 
    width: 100%;
    color: white;
    font-size: 0.8rem;
}

.tire .position {
    font-weight: 400;
}

.tire .green {
    background: linear-gradient(90deg, #75BB0A 0%, #6AAD05 100%);
    border: 1px solid rgba(237, 239, 243, 0.3);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), inset 0px 4px 4px rgba(255, 255, 255, 0.25);
    border-radius: 6px;
}

.tire .red {
    background: linear-gradient(90deg, #F61614 0%, #CD060D 100%);
    border: 1px solid rgba(237, 239, 243, 0.3);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), inset 0px 4px 4px rgba(255, 255, 255, 0.25);
    border-radius: 6px;
}

.tires-panel .tires-middle .line {
    background: linear-gradient(89.13deg, #DCE0E8 0.75%, #FFFFFF 99.25%);
    border: 1px solid rgba(237, 239, 243, 0.3);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), inset 0px 4px 4px rgba(255, 255, 255, 0.25);
    border-radius: 6px;
    height: 4px;
    flex: 1;
    margin-left: 4vw;
    margin-right: 4vw;
}

.tires-panel .tires-bottom {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
}

.tires-panel .tires-bottom .tire {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: linear-gradient(89.13deg, #DCE0E8 0.75%, #FFFFFF 99.25%);
    border: 1px solid rgba(237, 239, 243, 0.3);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), inset 0px 4px 4px rgba(255, 255, 255, 0.25);
    border-radius: 6px;
    width: 14vw;
    height: 11vh;
}

.tires-panel .tires-bottom .line {
    background: linear-gradient(89.13deg, #DCE0E8 0.75%, #FFFFFF 99.25%);
    border: 1px solid rgba(237, 239, 243, 0.3);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), inset 0px 4px 4px rgba(255, 255, 255, 0.25);
    border-radius: 6px;
    height: 4px;
    flex: 1;
    margin-left: 4vw;
    margin-right: 4vw;
}

.tires-info {
    margin-top: 5vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.tire { font-weight: 400; }
.tires-info span { font-weight: 400; font-size: 0.9rem; }

.action {
    background: linear-gradient(180deg, rgba(237, 239, 243, 0.5) 0%, rgba(255, 255, 255, 0) 100%);
    filter: drop-shadow(0px 4px 24px rgba(67, 70, 84, 0.1));
    border-radius: 7px;
    padding-top: 2vh;
    padding-bottom: 2vh;
    padding-left: 4vw;
    padding-right: 4vw;
}

.action button {
    background: linear-gradient(90deg, #DCE0E8 -2.76%, #FFFFFF 100%);
    border: 1px solid rgba(237, 239, 243, 0.3);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 6px;
    color: #0D2750;
    width: 100%;
    padding-top: 1.2vh;
    padding-bottom: 1.2vh;
    font-size: 1rem;
    font-weight: 400;
}

.red-bg {
    background: linear-gradient(89.13deg, #F61614 0.75%, #CD060D 99.25%) !important;
    color: white;
}

.green-bg {
    background: linear-gradient(89.13deg, #43B015 0.75%, #46D24F 99.25%) !important;
    color: white;
}

.orange-bg {
    background: linear-gradient(89.13deg, #F07922 0.75%, #FFEB70 99.25%) !important;
    color: white;
}