body {
    background: url('../imgs/main-bg.png'); 
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
}

main {
    padding: 10px;
    padding-right: 20px;
}

.tire-panel {
    background: linear-gradient(180deg, rgba(237, 239, 243, 0.8) 0%, rgba(255, 255, 255, 0) 100%);
    filter: drop-shadow(0px 4px 24px rgba(67, 70, 84, 0.1));
    border-radius: 8px;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 10px;
    padding-right: 10px;
}

.tire-panel .tire {
    font-size: 17px;
    color: #0D2750;
    margin-bottom: 5%;
}

.tire-panel .input-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 10%;
}

.tires-info {
    margin-top: 5%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    color: #0D2750;
    font-size: 14px;
}

.tire-panel .input-group .label {
    color: #0D2750;
    font-size: 14px;
}

.button-group {
    display: flex;
    gap: 10px;
    margin-top: 5%;
}

.action {
    background: linear-gradient(180deg, rgba(237, 239, 243, 0.5) 0%, rgba(255, 255, 255, 0) 100%);
    filter: drop-shadow(0px 4px 24px rgba(67, 70, 84, 0.1));
    border-radius: 7px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 12px;
    padding-bottom: 12px;
    margin-top: 5%;
}

.action button {
    background: linear-gradient(89.13deg, #DCE0E8 0.75%, #FFFFFF 99.25%);
    border: 1px solid rgba(237, 239, 243, 0.3);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), inset 0px 4px 4px rgba(255, 255, 255, 0.25);
    border-radius: 6px;
    width: 100%;
    padding-top: 12px;
    padding-bottom: 12px;
}

.input-group .label {
    margin-bottom: 3px;
}

.tire-panel .input-group input {
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.3);
    border: 1px solid #979797;
    width: 22%;
    padding-left: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 15px;
    text-align: center;
}

.status {
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(89.13deg, #DCE0E8 0.75%, #FFFFFF 99.25%);
    border: 1px solid rgba(237, 239, 243, 0.3);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), inset 0px 4px 4px rgba(255, 255, 255, 0.25);
    border-radius: 6px;
    color: #0D2750;
    font-size: 14px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    flex: 33%;
}

.green { background: linear-gradient(90deg, #75BB0A 0%, #6AAD05 100%) !important; color: white; }
.fallow-up { background: linear-gradient(90deg, #FEC901 0%, #FDB900 100%) !important; color: white; }
.bad { background: linear-gradient(89.13deg, #F61614 0.75%, #CD060D 99.25%) !important; color: white; }