footer {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.1) 23.08%, rgba(255, 255, 255, 0.1) 77.44%);
    border: 1px solid #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), inset 0px 4px 4px rgba(255, 255, 255, 0.25);
    border-radius: 6px;
    height: 10vh;
    z-index: 9999;
}

footer .bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 7vh;
}

footer .inspection {
    width: 100%;
    padding-right: 5%;
    padding-left: 5%;
}

footer .bar .item img {
    width: 10vh;
    height: 10vh;
}

footer .bar .item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

footer .bar .item .active {
    color: #0062FF;
}

footer .bar .item img {
    width: 5vh;
    height: 5vh;
}

footer .bar .item span {
    color: #0D2750;
}

footer .bar .item span { font-size: 1.5vh; }

/* Responsivnes */

/* Surface Pro 7 */
@media screen and (max-height: 1370px) {
    footer { height: 10vh; }
    footer .bar { gap: 6vh; }
    footer .bar .item img { width: 4.2vh; height: 4.2vh; }
}

/* Samsung Galaxy A51/71 */
@media screen and (max-height: 915px) {
    footer { height: 9vh; }
    footer .bar { gap: 6vw; }
    footer .bar .item img { width: 3vh; height: 3vh; }
}

/* iPhone XR */
@media screen and (max-height: 896px) {
    footer { height: 9vh; }
    footer .bar { gap: 6vw; }
    footer .bar .item img { width: 3vh; height: 3vh; }
}

/* Samsung Galaxy S8+ */
@media screen and (max-height: 740px) {
    footer { height: 8vh; }
    footer .bar { gap: 7vw; }
    footer .bar .item img { width: 3vh; height: 3vh; }
}

/* iPhone SE */
@media screen and (max-height: 667px) {
    footer { height: 9vh; }
    footer .bar { gap: 5vh; }
    footer .bar .item img { width: 3.5vh; height: 3.5vh; }
}

/* Galaxy Fold */
@media screen and (max-height: 653px) {
    footer { height: 9vh; }
    footer .bar { gap: 2vh; }
    footer .bar .item img { width: 3.5vh; height: 3.5vh; }
}

/* Galaxy Note 3 */
@media screen and (max-height: 640px) {
    footer .bar { gap: 4.5vh; }
}